.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;
  position: relative;

  .wrapper {
    max-width: 1000px;
    height: 100%;
    margin: auto;

    .textContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      h2 {
        font-size: 30px;
        letter-spacing: 5px;
        color: rebeccapurple;
      }
      h1 {
        font-size: 68px;
        max-width: 800px;
      }

      .button {
        button {
          padding: 20px;
          border: 1px solid white;
          background-color: transparent;
          color: white;
          border-radius: 20px;
          cursor: pointer;
          margin-right: 20px;
        }
      }
      img {
        width: 50px;
      }
    }
  }

  .slideingTextContainer {
    position: absolute;
    font-size: 350px;
    color: #ffffff20;
    bottom: -50px;
    white-space: nowrap;
    text-transform: capitalize;
    width: 50%;
    font-weight: bolder;
  }

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
